

<html>  
    <head>  
        <title>upload the file : GFG</title>  
    </head>  
    <body>  
        <form action = "/upload" method = "post" enctype="multipart/form-data">  
          
 
          <input id="student_id" name="student_id" type="text" placeholder="Enter Your student_id" class="textbox"/></br></br>
          <input id="student_first" name="student_first" type="text" placeholder="Enter Your student_first" class="textbox"/></br></br>
          <input id="student_last" name="student_last" type="text" placeholder="Enter Your student_last" class="textbox"/></br></br>
          <input id="student_email" name="student_email" type="text" placeholder="Enter Your student_email" class="textbox"/></br></br>
          <input id="student_mailing" name="student_mailing" type="text" placeholder="Enter Your student_mailing" class="textbox"/></br></br>
          <input id="student_gpa" name="student_gpa" type="text" placeholder="Enter Your student_gpa" class="textbox"/></br></br>
          <input type = "submit" value="Upload">
 
        </form>  
    </body>  
    </html>